@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body::-webkit-scrollbar{
    display: none;
}

.navbar{
    background-color: rgb(56, 56, 56)
}

.navbar-brand{
    color: aliceblue;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: x-large;
}

.navbar-brand:hover{
    color: aliceblue;
}

h3{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.addError{
    color: red;
    margin-top: -10px;
    font-weight: bold;
    text-align: center;
}

.delConfText{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.btn{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-task{
    margin-top: 15px;
}

.card-text{
    min-height: 120px;
}


h4{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
}

.searchError{
    text-align: center;
    color:red;
    font-weight: bold;
}

.btn-success{
    padding-left: 30px;
    padding-right: 30px;
}
.btn-warning{
    color: azure;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-primary{
    padding-left: 30px;
    padding-right: 30px;
}
.btn-danger{
    padding-left: 30px;
    padding-right: 30px;
}
.btn-info{
    color: azure;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-info:hover{
    color: azure;
}

.btn-warning:hover{
    color: azure;
}

.card{
    min-width: 200px;
    min-height: 260px;
}

.modal-content{
    min-height: 170px;
}

.badge{
    margin-bottom: 20px;
    font-size: 10px;
    padding: 4px;
}

.display-none{
    display: none;
}
